<section class="section-clients">
  <h1 class="section-clients__title-main">My clients</h1>
  <div class="section-clients__grid-container">

    <div class="section-clients__grid-1 section-clients__grid">
      <img class="section-clients__grid-1__logo section-clients__all-logo" src="images/logos/logo-6.svg" alt="logo">
      <h1 class="section-clients__title">Exceptional Web and Digital Design That Exceeded Expectations</h1>
      <p class="section-clients__text">Our website redesign and digital transformation went above and beyond our
        wildest dreams. Dianne's attention to detail, creativity, and unmatched design skills resulted in a
        visually stunning and user-friendly online presence that left us in awe.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-1.jpg" alt="photo Annette Black">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Annette Black</h1>
          <p class="section-clients__bottom-text__position">Marketing Coordinator</p>
        </div>
      </div>
    </div>

    <div class="section-clients__grid-2 section-clients__grid">
      <img class="section-clients__grid-2__logo section-clients__all-logo" src="images/logos/logo-7.svg" alt="logo">
      <h1 class="section-clients__title">Art Direction that
        Perfectly Captured Our Essence</h1>
      <p class="section-clients__text">Collaborating with Dianne on our art direction was an absolute delight. He
        not only listened to our ideas but also infused his own creativity into the mix, resulting in a visual
        brand identity that flawlessly encapsulated our essence.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-2.jpg" alt="photo Ralph Edwards ">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Ralph Edwards</h1>
          <p class="section-clients__bottom-text__position">Software Development Manager</p>
        </div>
      </div>
    </div>

    <div class="section-clients__grid-3 section-clients__grid">
      <img class="section-clients__grid-3__logo section-clients__all-logo" src="images/logos/logo-4.svg" alt="logo">
      <h1 class="section-clients__title">Interaction Design Expertise that Delivered Beyond Measure</h1>
      <p class="section-clients__text">Dianne's expertise in interaction design elevated our app to new heights of
        user-friendliness and intuitiveness. His meticulous approach and imaginative thinking led to a product
        that far exceeded our expectations.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-3.jpg" alt="photo Jacob Jones">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Jacob Jones</h1>
          <p class="section-clients__bottom-text__position">Scrum Master</p>
        </div>
      </div>
    </div>

    <div class="section-clients__grid-4 section-clients__grid">
      <img class="section-clients__grid-4__logo section-clients__all-logo" src="images/logos/logo-3.svg" alt="logo">
      <h1 class="section-clients__title">Captivating Motion Design that Breathed Life into Our Brand</h1>
      <p class="section-clients__text">Dianne's mastery of motion design is nothing short of extraordinary. With
        his stunning animations, he breathed life into our brand, leaving our audience thoroughly
        captivated.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-4.jpg" alt="photo Cameron Williamson">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Cameron Williamson</h1>
          <p class="section-clients__bottom-text__position">Software Tester</p>
        </div>
      </div>
    </div>

    <div class="section-clients__grid-5 section-clients__grid">
      <img class="section-clients__grid-5__logo section-clients__all-logo" src="images/logos/logo-2.svg" alt="logo">
      <h1 class="section-clients__title">Dianne Delivered a Website that Truly Showcases Our Business</h1>
      <p class="section-clients__text">Dianne's web design prowess has given us a website that not only showcases
        our business but does so in a highly professional and user-friendly manner. We couldn't be more thrilled
        with the final result.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-5.jpg" alt="photo Eleanor Pena">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Eleanor Pena</h1>
          <p class="section-clients__bottom-text__position">Marketing Coordinator</p>
        </div>
      </div>
    </div>

    <div class="section-clients__grid-6 section-clients__grid">
      <img class="section-clients__grid-6__logo section-clients__all-logo" src="images/logos/logo-1.svg" alt="logo">
      <h1 class="section-clients__title">Dianne Delivers a Business-Showcasing Website</h1>
      <p class="section-clients__text"> Dianne's mastery of web design has given our brand a vibrant new lease on
        life. With precision and creativity, she transformed our vision into a website that truly sets us apart
        from the competition.</p>
      <div class="section-clients__bottom">
        <img class="section-clients__bottom-img" src="images/client-6.jpg" alt="photo Courtney Henry">
        <div class="section-clients__bottom-text">
          <h1 class="section-clients__bottom-text__name">Courtney Henry</h1>
          <p class="section-clients__bottom-text__position">Software Development Manager</p>
        </div>
      </div>
    </div>

  </div>

</section>
