<section class="OurTeam">
    <h3 class="OurTeam__title">OUr Team</h3>
    <div class="OurTeam__cards">
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Tyra Dhillon</h3>
            <p class="member__post">Creative Director</p>
        </div>
        <img class="member__photo" src="../images/team-member-1.jpg" alt="Tyra Dhillon">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>
    </div>
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Darcel Ballentine</h3>
            <p class="member__post">Brand Designer</p>
        </div>
        <img class="member__photo" src="../images/team-member-2.jpg" alt="Darcel Ballentine">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>
    </div>
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Brittni Lando</h3>
            <p class="member__post">Fashion Designer</p>
        </div>
        <img class="member__photo" src="../images/team-member-3.jpg" alt="Brittni Lando">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>
    </div>
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Roselle Ehrman</h3>
            <p class="member__post">Graphic Designer</p>
        </div>
        <img class="member__photo" src="../images/team-member-4.jpg" alt="Roselle Ehrman">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>
    </div>
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Jane Cooper</h3>
            <p class="member__post">Creative Director</p>
        </div>
        <img class="member__photo" src="../images/team-member-5.jpg" alt="Jane Cooper">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>

    </div>
    <div class="OurTeam__card member">
        <div class="member__info">
            <h3 class="member__name">Robert Fox</h3>
            <p class="member__post">Brand Designer</p>
        </div>
        <img class="member__photo" src="../images/team-member-6.jpg" alt="Robert Fox">
        <div class="member__social">
            <a class="member__social--facebook" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.056 0 19.0048 0.393325 20.8284 1.17998C22.652 1.96663 24.2431 3.03933 25.6019 4.39809C26.9607 5.75685 28.0334 7.34207 28.82 9.15375C29.6067 10.9654 30 12.9082 30 14.9821C30 17.056 29.6067 19.0048 28.82 20.8284C28.0334 22.652 26.9607 24.2431 25.6019 25.6019C24.2431 26.9607 22.652 28.0334 20.8284 28.82C19.0048 29.6067 17.056 30 14.9821 30C12.9082 30 10.9654 29.6067 9.15375 28.82C7.34207 28.0334 5.75685 26.9607 4.39809 25.6019C3.03933 24.2431 1.96663 22.652 1.17998 20.8284C0.393325 19.0048 0 17.056 0 14.9821C0 12.9082 0.393325 10.9654 1.17998 9.15375C1.96663 7.34207 3.03933 5.75685 4.39809 4.39809C5.75685 3.03933 7.34207 1.96663 9.15375 1.17998C10.9654 0.393325 12.9082 0 14.9821 0ZM20.6317 6.5435H17.4493C16.8296 6.5435 16.2574 6.65077 15.733 6.86532C15.2086 7.07986 14.7497 7.36591 14.3564 7.72348C13.9631 8.08105 13.6591 8.48629 13.4446 8.93921C13.23 9.39213 13.1228 9.84505 13.1228 10.298V12.1931H10.298V15.9118H13.1228V23.4207H16.8772V15.9118H19.6663V12.1931H16.8772V11.2277C16.8772 10.9416 16.9905 10.7151 17.2169 10.5483C17.4434 10.3814 17.64 10.298 17.8069 10.298H20.6317V6.5435Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--twiter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM22.4373 11.7563C23.1302 11.2306 23.7395 10.5974 24.2652 9.85663C23.9307 10 23.5902 10.1195 23.2437 10.2151C22.8973 10.3106 22.5329 10.3823 22.1505 10.4301C22.5329 10.1912 22.8674 9.89845 23.1541 9.55197C23.4409 9.2055 23.644 8.82915 23.7634 8.42294C23.405 8.6141 23.0346 8.78734 22.6523 8.94265C22.27 9.09797 21.8757 9.21147 21.4695 9.28315C21.135 8.94863 20.7407 8.67384 20.2867 8.45878C19.8327 8.24373 19.3309 8.1362 18.7814 8.1362C18.2796 8.1362 17.8076 8.23178 17.3656 8.42294C16.9235 8.6141 16.5412 8.87694 16.2186 9.21147C15.8961 9.546 15.6392 9.93429 15.448 10.3763C15.2569 10.8184 15.1613 11.2903 15.1613 11.7921C15.1613 11.9355 15.1673 12.0789 15.1792 12.2222C15.1912 12.3656 15.2091 12.497 15.233 12.6165C13.7276 12.5448 12.3298 12.1744 11.0394 11.5054C9.7491 10.8363 8.64994 9.94026 7.74194 8.8172C7.40741 9.36679 7.24014 9.97611 7.24014 10.6452C7.24014 11.2664 7.38949 11.8459 7.68817 12.3835C7.98686 12.9211 8.37515 13.3572 8.85305 13.6918C8.23178 13.644 7.6822 13.4887 7.2043 13.2258V13.2616C7.2043 14.1697 7.48507 14.9522 8.0466 15.6093C8.60812 16.2664 9.30705 16.6786 10.1434 16.8459C9.97611 16.8937 9.81482 16.9295 9.6595 16.9534C9.50418 16.9773 9.34289 16.9892 9.17563 16.9892C9.05615 16.9892 8.94265 16.9833 8.83513 16.9713C8.7276 16.9594 8.6141 16.9415 8.49462 16.9176C8.73357 17.6344 9.15771 18.2318 9.76703 18.7097C10.3763 19.1876 11.0872 19.4265 11.8996 19.4265C11.2784 19.9283 10.5795 20.3166 9.80287 20.5914C9.02629 20.8662 8.21983 21.0036 7.38351 21.0036C7.21625 21.0036 7.06093 20.9976 6.91756 20.9857C6.77419 20.9737 6.63082 20.9558 6.48746 20.9319C7.29988 21.4576 8.17802 21.8638 9.12186 22.1505C10.0657 22.4373 11.0514 22.5806 12.0789 22.5806C13.7515 22.5806 15.233 22.264 16.5233 21.6308C17.8136 20.9976 18.8949 20.1852 19.767 19.1936C20.6392 18.2019 21.3023 17.0908 21.7563 15.8602C22.2103 14.6296 22.4373 13.417 22.4373 12.2222V11.7563Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--linkedin" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM10.3226 11.2545H6.55914V23.4409H10.3226V11.2545ZM8.42294 10.2867C8.94863 10.2867 9.39666 10.1075 9.76703 9.7491C10.1374 9.39068 10.3226 8.94863 10.3226 8.42294C10.3226 7.89725 10.1374 7.4552 9.76703 7.09677C9.39666 6.73835 8.94863 6.55914 8.42294 6.55914C7.89725 6.55914 7.4552 6.73835 7.09677 7.09677C6.73835 7.4552 6.55914 7.89725 6.55914 8.42294C6.55914 8.94863 6.73835 9.39068 7.09677 9.7491C7.4552 10.1075 7.89725 10.2867 8.42294 10.2867ZM23.4409 16.3799C23.4409 15.5197 23.2019 14.6774 22.724 13.853C22.2461 13.0287 21.6249 12.4014 20.8602 11.9713C20.1673 11.589 19.3608 11.3859 18.4409 11.362C17.5209 11.3381 16.6786 11.4934 15.914 11.828V11.2545H12.1864V23.4409H15.914V15.9857L17.491 15.233C17.6822 15.1374 17.9391 15.0896 18.2617 15.0896C18.5842 15.0896 18.8411 15.1493 19.0323 15.2688C19.1756 15.3405 19.319 15.4958 19.4624 15.7348C19.6057 15.9737 19.6774 16.1888 19.6774 16.3799V23.4409H23.4409V16.3799Z" fill="#252525"/>
              </svg></a>
            <a class="member__social--dribble" href="#"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M14.9821 0C17.0609 0 19.0084 0.394265 20.8244 1.1828C22.6404 1.97133 24.2294 3.04062 25.5914 4.39068C26.9534 5.74074 28.0287 7.32378 28.8172 9.13979C29.6057 10.9558 30 12.9032 30 14.9821C30 17.0609 29.6057 19.0084 28.8172 20.8244C28.0287 22.6404 26.9534 24.2294 25.5914 25.5914C24.2294 26.9534 22.6404 28.0287 20.8244 28.8172C19.0084 29.6057 17.0609 30 14.9821 30C12.9032 30 10.9558 29.6057 9.13979 28.8172C7.32378 28.0287 5.74074 26.9534 4.39068 25.5914C3.04062 24.2294 1.97133 22.6404 1.1828 20.8244C0.394265 19.0084 0 17.0609 0 14.9821C0 12.9032 0.394265 10.9558 1.1828 9.13979C1.97133 7.32378 3.04062 5.74074 4.39068 4.39068C5.74074 3.04062 7.32378 1.97133 9.13979 1.1828C10.9558 0.394265 12.9032 0 14.9821 0ZM14.9821 23.4409C16.1529 23.4409 17.2521 23.2198 18.2796 22.7778C19.3071 22.3357 20.2031 21.7324 20.9677 20.9677C21.7324 20.2031 22.3357 19.3071 22.7778 18.2796C23.2198 17.2521 23.4409 16.1529 23.4409 14.9821C23.4409 13.8112 23.2198 12.718 22.7778 11.7025C22.3357 10.687 21.7324 9.79689 20.9677 9.03226C20.2031 8.26762 19.3071 7.66428 18.2796 7.22222C17.2521 6.78017 16.1529 6.55914 14.9821 6.55914C13.8351 6.55914 12.7479 6.78017 11.7204 7.22222C10.693 7.66428 9.79689 8.26762 9.03226 9.03226C8.26762 9.79689 7.66428 10.687 7.22222 11.7025C6.78017 12.718 6.55914 13.8112 6.55914 14.9821C6.55914 16.1529 6.78017 17.2521 7.22222 18.2796C7.66428 19.3071 8.26762 20.2031 9.03226 20.9677C9.79689 21.7324 10.693 22.3357 11.7204 22.7778C12.7479 23.2198 13.8351 23.4409 14.9821 23.4409ZM15.6989 15.233C14.4803 15.6392 13.3751 16.2246 12.3835 16.9892C11.3919 17.7539 10.5376 18.6738 9.82079 19.7491C8.69773 18.5066 8.07646 17.0251 7.95699 15.3047C8.14815 15.3286 8.32139 15.3405 8.4767 15.3405H8.96057C11.1589 15.3405 13.2616 14.9701 15.2688 14.2294L15.4839 14.7312L15.6989 15.233ZM16.595 13.6918C18.1004 13.0227 19.4982 12.1386 20.7885 11.0394C21.601 12.2103 22.0072 13.5125 22.0072 14.9462C21.0992 14.7312 20.2151 14.6237 19.3548 14.6237C18.5663 14.6237 17.8017 14.7073 17.0609 14.8746C16.9892 14.6834 16.9176 14.4863 16.8459 14.2832C16.7742 14.08 16.6906 13.8829 16.595 13.6918ZM10.8961 20.7168C11.5173 19.7133 12.282 18.859 13.19 18.1541C14.098 17.4492 15.0896 16.9176 16.1649 16.5591C16.4277 17.3716 16.6428 18.2019 16.81 19.0502C16.9773 19.8984 17.1087 20.7646 17.2043 21.6487C16.5114 21.8877 15.7706 22.0072 14.9821 22.0072C13.4767 22.0072 12.1147 21.5771 10.8961 20.7168ZM17.5269 16.2007C18.1959 16.0812 18.8053 16.0215 19.3548 16.0215C20.2389 16.0215 21.0753 16.141 21.8638 16.3799C21.6726 17.3596 21.2903 18.2557 20.7168 19.0681C20.1434 19.8805 19.4265 20.5376 18.5663 21.0394C18.399 19.4146 18.0526 17.8017 17.5269 16.2007ZM19.8925 9.96416C19.2712 10.466 18.638 10.9259 17.9928 11.3441C17.3477 11.7622 16.6786 12.1266 15.9857 12.4373C15.5795 11.6965 15.1434 10.9737 14.6774 10.2688C14.2115 9.56392 13.7037 8.87694 13.1541 8.20789C13.7276 8.04062 14.3369 7.95699 14.9821 7.95699C15.914 7.95699 16.7981 8.13023 17.6344 8.4767C18.4707 8.82318 19.2234 9.319 19.8925 9.96416ZM14.6595 12.9749C12.8196 13.6201 10.92 13.9427 8.96057 13.9427H8.4767L8.06452 13.9068C8.23178 12.8076 8.63799 11.8041 9.28315 10.8961C9.92832 9.98805 10.7527 9.27121 11.7563 8.74552C12.8793 10.0358 13.8471 11.4456 14.6595 12.9749Z" fill="#252525"/>
              </svg></a>       
        </div>
    </div>
    <div class="OurTeam__invitation invitation">
        <h3 class="invitation__title">Join the team</h3>
        <p class="invitation__text">Desire to influence
            the future of branding?</p>
        <button class="invitation__findJob button-dark">  Find Job</button>
    </div>
</div>
    
</section>