<section class="selectedWork">
<h2 class="selectedWork__title">Selected work</h2>
<div class="selectedWork__container">
    <div class="selectedWork__container--trinity">
    <div class="selectedWork__item selectedWork__item--"><img src="../images/trinity-work-1.jpg" alt="hand"></div>
    <div class="selectedWork__item selectedWork__item--trinity-2"><img src="../images/trinity-work-2.jpg" alt="planter"></div>
    <div class="selectedWork__item selectedWork__item--text text-triniti">
        <h3 class="selectedWork__item-title">Trinity</h3>
        <div class="selectedWork__links">
            
            <a href="#" class="selectedWork__link">Digital Design</a>
            <a href="#" class="selectedWork__link">2022</a>
        </div>
        <button class="selectedWork__discover button-dark" type="button">Discover</button>
    </div>
</div>
<div class="selectedWork__container--morpheus">
    <div class="selectedWork__item selectedWork__item--morpheus-1"><img src="../images/morpheus-work-1.jpg" alt="rose"></div>
    <div class="selectedWork__item selectedWork__item--morpheus-2"><img src="../images/morpheus-work-2.jpg" alt="women"></div>
    <div class="selectedWork__item selectedWork__item--text">
        <h3 class="selectedWork__item-title">Morpheus</h3>
        <div class="selectedWork__links">
            <a href="#" class="selectedWork__link">Digital Design</a>
            <a href="#" class="selectedWork__link">2022</a>
        </div>
        <button class="selectedWork__discover button-dark" type="button">Discover</button>
    </div>
</div>
<div></div>
<button class="selectedWork__bottom-button" type="button"> <p>All Work</p> </button>
</div>

</section>