@mixin flex-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
};

@mixin flex-space-between{
    display: flex;
justify-content: space-between;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
};
@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
};


@mixin flex-column-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin grid-row-column ($row, $column){
    grid-row: $row;
    grid-column: $column;
}

@mixin img-with-height ($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-properties ($family, $size){
    font-family: $family;
    font-size: $size;
}

@mixin img-with-height ($width, $height) {
    width: $width;
    height: $height;
}