
$Gilroy-Light: 'Gilroy-Light', sans-serif;
$Gilroy-Medium: 'Gilroy-Medium', sans-serif;
$Gilroy-Regular: 'Gilroy-Regular', sans-serif;
$Gilroy-SemiBold: 'Gilroy-SemiBold', sans-serif;
$Gilroy-Bold: 'Gilroy-Bold', sans-serif;
$bg-main-color: #F5F3EA;

$whatIdo-title-color: #252525;
$whatIdo-subtitle-color: #000000;
$whatIdo-text-color: #000000;
$whatIdo-line-color: #252525;

$clients-line-color:#252525;
$clients-main-title-color: #252525;
$sect-clients-border-color: #000000;
$sect-clients-subtitle-color: #333333;
$sect-clients-text-color: #000000;
$sect-clients-bottom-text-color: #000000;

$contact-line-color:#252525;
$contact-title-color:#333333;
$contact-subtitle-color:#252525;
$contact-text-color:#252525;
$contact-bg-button-color: #252525;
$contact-button-text-color: #F5F3EA;
$contact-button-arrow-color: #F5F3EA;

$footer-text-color:#333333;













