@import 'mixins';
@import "variables";

.aboutMe{
&__photo{
    width: 100%;
}
&__text{
    padding: 30px 20px;
    font-family: $Gilroy-Light;
    color: #252525;
text-align: center;
font-size: 30px;
font-weight: 300;
line-height: normal;
&-bold{
    font-family: $Gilroy-Medium;
    font-size: 30px;
font-weight: 800;
}
}
&__social-container{
    padding: 40px 30px 40px 0;
    background-color: rgba(37, 37, 37, 1);
    @include flex-column;
    gap: 30px;
    align-items: flex-end;
}
&__social-title{
    color: #FFF;
    font-family: $Gilroy-Medium;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
text-transform: uppercase;
}
&__social-items{
    display: flex;
    gap: 20px;
}
&__logos{
    padding: 30px 20px;
    
    @include flex-center;
    gap: 20px;
}
&__logos-item{
    padding: 15px 40px;
    border-radius: 50px;
background: #FFF;
}
}
@media screen and (min-width:768px) {
    .aboutMe{
        &__text{
padding: 30px;
font-size: 52px;
&-bold{
    font-size: 52px;

        }
    }
}
}
@media screen and (min-width:1200px) {
    .aboutMe{
&__container-desktop{
    display: flex;
    padding: 70px 0;
    border-bottom: 1px solid #252525;
    
        }
    &__social-container{
        padding: 60px 70px ;
        flex-basis: 65%;
    }
    
    &__text{
        padding: 0 70px;
        font-size: 3.2vw;
        flex-grow: 1;
        &-bold{
            font-size: 3.2vw;
        
                }
            }
            &__logos{
padding:70px;
gap: 40px;
            }       
}
}