@import "fonts";
@import "variables";
@import "mixins";


.section-clients {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $clients-line-color;
  border-top: 1px solid $clients-line-color;

  &__title-main {
    @include font-properties('Gilroy-Light', 11vw);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 30px 0;
    color: $clients-main-title-color;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 14vw;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      font-size: 7.8vw;
      letter-spacing: 0.04em;
      padding-top: 50px;
    }
  }

  &__grid-container {
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows:  repeat(auto-fit, minmax(min-content, 1fr));
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0;
      margin: 0 70px 80px 70px;
    }
  }


  &__grid-1 {
    place-items: center;

    &__logo {
      padding-top: 30px;
      @include img-with-height(180.86px, 35.55px);
    }
  }

  &__grid {
    padding: 0 30px 0 30px;
    @include flex-column;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (min-width: 1200px) {
      padding: 0 50px 0 50px;
    }
  }


  &__grid-1, &__grid-2, &__grid-3, &__grid-4, &__grid-5 {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000000;
      margin-top: 40px;

      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
  }

  &__grid-2 {

    &__logo {
      @include img-with-height(149.98px, 35.72px);
    }
  }

  &__grid-3 {
    @media screen and (min-width: 1200px) {
      border-bottom: 1px solid $sect-clients-border-color;
    }

    &__logo {
      @include img-with-height(151.86px, 34.2px);
    }
  }

  &__grid-4 {
    @media screen and (min-width: 1200px) {
      border-right: 1px solid $sect-clients-border-color;
    }

    &__logo {
      @include img-with-height(174.41px, 35px);
    }
  }

  &__grid-5 {
    @media screen and (min-width: 1200px) {
      border-right: 1px solid $sect-clients-border-color;
    }

    &__logo {
      @include img-with-height(84.1px, 40px);
    }
  }

  &__grid-6 {
    &__logo {
      @include img-with-height(150.41px, 35px);
    }
  }

  &__grid-1,
  &__grid-2 {
    @media screen and (min-width: 1200px) {
      border-bottom: 1px solid $sect-clients-border-color;
      border-right: 1px solid $sect-clients-border-color;
    }
  }

  &__all-logo {
    @media screen and (min-width: 1200px) {
      padding-top: 30px;
    }
  }

  &__title {
    @include font-properties('Gilroy', 40px);
    font-weight: 800;
    text-align: left;
    padding-top: 30px;
    color: $sect-clients-subtitle-color;
    @media screen and (min-width: 768px) and (max-width: 1200px),
    screen and (min-width: 1200px) {
      font-size: 3.3vw;
    }
  }

  &__text {
    @include font-properties('Inter', 20px);
    font-weight: 400;
    text-align: left;
    padding-top: 30px;
    color: $sect-clients-text-color;
    @media screen and (min-width: 1200px) {
      font-size: 1vw;
      line-height: 1.4vw;
    }
  }

  &__bottom {
    @include flex-center;
    align-items: center;
    padding-top: 30px;
    color: $sect-clients-bottom-text-color;
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
  }

  &__bottom-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    gap: 10px;
  }

  &__bottom-text {
    padding-left: 30px;

    &__name {
      @include font-properties('Inter-bold', 3.3vw);
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
      }
      font-weight: 600;
      margin: 0;
      text-align: left;
    }

    &__position {
      margin: 0;
      @include font-properties('Inter', 3vw);
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
      }
      font-weight: 400;
      text-align: left;
      padding-top: 10px;
    }
  }
}





