@import "fonts";
@import "variables";
@import "mixins";

.contact {
  width: 100%;
  border-bottom: 1px solid $contact-line-color;
  border-top: 1px solid $contact-line-color;
  @include flex-column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-flow: row;
    align-items: flex-start;
  }

  &__title-wrapper {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  &__title {
    @include font-properties('Gilroy-Light', 16vw);
    font-weight: 300;
    text-transform: uppercase;
    color: $contact-title-color;
    padding: 30px 0 30px 0;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding: 30px 0 40px 0;
    }
    @media screen and (min-width: 1200px) {
      font-size: 8vw;
      padding: 100px 0 0 0;
    }

  }

  &__wrapper {
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    @include font-properties('Gilroy-Bold', 10vw);
    color: $contact-subtitle-color;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 64px;
      Line-height: 75px;
      padding: 0 30px 0 30px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 3vw;
      text-align: left;
      padding: 100px 70px 30px 0;
    }
  }

  &__text {
    @include font-properties('Gilroy-Medium', 30px);
    text-align: center;
    color: $contact-text-color;
    padding: 30px 20px 30px 20px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 34px;
      padding: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2vw;
      text-align: left;
      padding: 0 70px 30px 0;
    }
  }

  &__container-button {
    @include flex-center;
    @media screen and (min-width: 1200px) {
      justify-content: left;
    }
  }

  &__button {
    @include flex-center;
    align-items: center;
    background-color: $contact-bg-button-color;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border-radius: 50px;
    height: 53px;
    margin: 0 20px 50px 20px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 195.41px;
      height: 53.33px;
    }
    @media screen and (min-width: 1200px) {
      width: 195.41px;
      height: 53.33px;
      margin-bottom: 100px;
    }
  }

  &__button-text {
    @include font-properties('Gilroy-Medium', 18px);
    color: $contact-button-text-color;
    width: 104px;
    padding-right: 15px;
  }

  &__button-arrow {
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid $contact-button-arrow-color;
    border-left: 2px solid $contact-button-arrow-color;
    transform: rotate(135deg);
  }

  &__button-arrow::after {
    content: "";
    display: block;
    border: 1px solid $contact-button-arrow-color;
    transform: rotate(45deg) translate(0px, 6.5px);
    width: 18px;
  }
}