@import "fonts";
@import "variables";
@import "mixins";

.footer {

  &__container {
    @include flex-column;
    align-items: center;
    padding: 24px 0 24px 0;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 45px 30px 45px 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 25px 70px 25px 70px;
    }
  }

  &__wrapper-text {
    padding-bottom: 20px;
    align-items: center;
  }

  &__text {
    @include font-properties('Gilroy-Light', 4vw);
    color: $footer-text-color;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 2vw;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1vw;
    }
  }

  &__text-span {
    @include font-properties('Gilroy-SemiBold', 4vw);
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 2vw;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1vw;
    }
  }

  &__wrapper-icon {
    width: 150px;
    @include flex-space-between;
  }
}