@import 'mixins';
@import "variables";

.header{
    box-sizing: border-box;
    font-family: $Gilroy-SemiBold;
padding: 20px;
@include flex-column;
gap: 30px;

&__top{
@include flex-space-between;
}

&__menu{
    color: #252525;
    text-transform: uppercase;
    font-size: 25px;
   font-weight: 400;
}
&__person{
    text-align: center;
    box-sizing: border-box;
}
&__name{
    
    color: #252525;
font-size: 11.4vw;
font-weight: 400;
text-transform: uppercase;


}
&__profession{    
    font-size: 11.5vw; 
    font-weight: 300;
font-family: $Gilroy-Light;
margin-top: 20px;
}
&__arrow{
    width: 100%;
   @include flex-center;   
}
}
.logo{
    
    &__text{
        display: none;
    }
    
}


@media screen and (min-width:768px) {
    .header{
       
        padding: 40px 30px;
        &__name{
            font-size: 11.7vw;
        }
    }
    .logo{
        
        color:#000;
       font-size: 35px;
      
       letter-spacing: -0.7px;
       display: flex;
    
    &__text{
        display: block;    
        font-weight: 800;
        font-family: $Gilroy-Bold;
        
    }
    
    &__studio{
        font-family: $Gilroy-Medium;
        font-weight: 400;
    text-transform: uppercase;
    position: relative;
    
    }
    &__sign{
    position: absolute;
    font-size: 25px;    
    }
}
}

@media screen and (min-width:1200px) {
    .header{
        padding: 40px 70px;
        &__top{
            padding-bottom: 30px;
        }
        &__name{
            font-size: 7.8vw;            
        }
        &__profession{    
            font-size: 7.8vw;        
    }
    
}
}