@import "fonts";
@import "variables";
@import "mixins";

body{
    background: $bg-main-color;
    overflow-x: hidden;
};

a{
    text-decoration: none;
    
};


@import "header";
@import "aboutMe";
@import "what-section-1";
@import "selectedWork";
@import "clients-section";
@import "OurTeam";
@import "contact-section";
@import "footer-srction";

