
.OurTeam{
    @include flex-column;
  gap: 30px;
  padding: 30px 20px 50px;
    &__title{
        color: #252525;
font-family: $Gilroy-Light;
font-size: 80px;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
text-align: center;
    }
}

.member{
  @include flex-column;
  gap: 15px; 
  align-items: center;
  padding: 20px 0;
  

    &__name{
color: #333;
font-family: Gilroy;
font-size: 6.3vw;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
    }
    &__post{
        color: #333;
text-align: center;
font-family: Gilroy-Medium;
font-size: 4.2vw;
font-weight: 400;
line-height: normal;
margin-top: 5px;
    }
    &__photo{
        filter: grayscale(90%);
        width: 100%;
        // max-width: 446px;
        object-fit: cover;
        height: 107vw;
        max-height: 507px;
    }
    &__social{
        display: flex;
        gap: 10px;
    }
}
.invitation{
    @include flex-column;
    gap: 15px;
    &__title{
        color: #333;
text-align: center;
font-family: $Gilroy-Regular;
font-size: 6.3vw;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
    }
    &__text{
        color: #333;
text-align: center;
font-family: $Gilroy-Bold;
font-size: 8.5vw;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
    }
&__findJob{
   justify-content: center;
    width: 100%;
} 
}
@media screen and (min-width:768px) {
    .OurTeam{
        &__title{
            font-size: 15vw;
        }
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 40px;
            column-gap: 30px;
        }
        }
        .member{
            padding: 30px 0;
        &__info{
            align-self: flex-start;
           
        }
            &__name{
                font-size: 30px;

            }
            &__post{
                font-size: 20px;
              text-align: start;
            }
            &__social{
                align-self: flex-end;
            }
        }
        .invitation{
            align-items: flex-start;
            &__findJob{
                width: auto;
                
        }
        &__title{
            font-size: 30px;
        }
        &__text{
            text-align: start;
            font-size: 5.1vw;
        }
    }
}


@media screen and (min-width:1200px) {
    .OurTeam{
        padding: 50px 70px;
        &__title{
            font-size: 11vw;
        }
        &__cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
            column-gap: 30px;
            
            
        }
    }
    .member{       
    
        &__name{
            font-size: 1.5vw;
        }
        &__post{
            font-size: 1vw;
          text-align: start;
        }
        &__social{
            align-self: flex-end;
        }
    }

    .invitation{
        grid-column: span 2;
        justify-content: center;
        &__text{            
            font-size: 3.3vw;
        }
    }
}