.selectedWork{
    padding: 30px 20px;

    @include flex-column;
    &__title{
      
        color: #252525;
text-align: center;
font-family: $Gilroy-Light;
font-size: 16.6vw;
font-weight: 300;
line-height: normal;
letter-spacing: 3.2px;
text-transform: uppercase;
    }
    &__container{
        margin-top: 30px;
       @include flex-column;
        gap: 40px;
        &--trinity, &--morpheus{
            display: grid;
            gap: 10px;
        }
    }
   
    &__item img{
       width: 100%;
       object-fit: cover;
        height: 90vw;
   
    }
    &__item--text{
        @include flex-column;
        gap: 20px;
    }
    &__item-title{        
font-family: $Gilroy-Bold;
font-size: 7.2vw;
font-weight: 400;
line-height: normal;
text-transform: uppercase;

    }

&__link{
   
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
background: #FFF;
    color: #252525;
font-family: $Gilroy-Medium;
font-size: 3.75vw;
font-style: normal;
font-weight: 400;
line-height: normal;
&:first-child{
    margin-right: 30px;
}
}

&__discover{
    align-self: flex-end;


}
&__bottom-button{
    color: #252525;
font-family: $Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: normal;
background: #FFF;
padding: 15px 60px;
border-radius: 50px;
border: none;
max-width: 100%; 
margin: 0 auto;

}
}
.button-dark{
    border-radius: 50px;
    background: #252525;
border: #252525;
color: #FFF;
font-family: $Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: normal;
padding: 10px 30px;
display: flex;
gap: 10px;
align-items: center;
&::after{
    content: "";
    background-image: url("../images/logos/arrow.jpg");
    background-repeat: no-repeat;
    height: 17px;
    width: 24px;
display: block;

}
}

@media screen and (min-width:768px) {
    .selectedWork{
        &__item-title{
            font-size: 4vw;
        }
        &__link, &__discover, &__bottom-button{
        font-size: 1.8vw;
        }
        &__container{
            &--trinity, &--morpheus{
                
                gap: 30px;
            }
            }
    }
}

@media screen and (min-width:1200px) {
    .selectedWork{        
        padding: 70px 70px 100px 70px;
        &__container{
            &--trinity, &--morpheus{
                grid-template-columns: repeat(3, 31%);
                gap: 40px;
            }
        
        }
        &__item img{
            height: 29.5vw;
            height: 29.5vw;
            
        }
       
    }
    .text-triniti{
        grid-row: 1;
    }
}