@import "fonts";
@import "variables";
@import "mixins";

.whatIdo {
  border-bottom: 1px solid $whatIdo-line-color;
  border-top: 1px solid $whatIdo-line-color;
  @include flex-column;
  @media screen and (min-width: 1200px) {
    flex-flow: row;
    align-items: flex-start;
  }

  &__img {
    background-image: url("../images/what-i-do-bgd.jpg");
    min-width: 310px;
    min-height: 310px;
    background-size: cover;
    width: 100%;
    height: 100vw;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      min-width: 768px;
      min-height: 768px;
    }
    @media screen and (min-width: 1200px) {
      min-width: 600px;
      max-height: 50vw;
      width: 100%;
      min-height: 1137px;
    }
  }

  &__container {
    width: 100%;
    padding: 20px 0 20px 0;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding: 40px 0 40px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 0;
      min-height: 1137px;
      height: 50vw;
      @include flex-column;
      justify-content: space-around;
    }
  }

  &__title-block {
    box-sizing: border-box;
    padding-bottom: 10px;

    &__title {
      @include font-properties('Gilroy-Light', 15vw);
      text-align: center;
      text-transform: uppercase;
      color: $whatIdo-title-color;
      @media screen and (min-width: 1200px) {
        font-size: 6.5vw;
      }
    }
  }

  &__content-block {
    @media screen and (min-width: 1200px) {
      min-height: 724px;
      padding-bottom: 20px;
    }
    @include flex-column-between;
  }

  &__content {
    padding: 30px 20px 0 20px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding: 40px 30px 0 30px;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 70px 0 111px;
    }

    &__subtitle {
      @include font-properties('Gilroy-SemiBold', 7vw);
      text-align: left;
      color: $whatIdo-subtitle-color;
      text-transform: uppercase;
      @media screen and (min-width: 1200px) {
        font-size: 1.9vw;
      }
    }

    &__text {
      @include font-properties('Inter', 20px);
      font-weight: 400;
      text-align: left;
      padding-top: 10px;
      color: $whatIdo-text-color;
      @media screen and (min-width: 1200px) {
        font-size: 1.1vw;
      }
    }
  }

  &__subtitle {
    &__item-1::before {
      content: "01";
      margin-right: 10px;
      font-family: Gilroy-Light, sans-serif;
    }

    &__item-2::before {
      content: "02";
      margin-right: 10px;
      font-family: Gilroy-Light, sans-serif;
    }

    &__item-3::before {
      content: "03";
      margin-right: 10px;
      font-family: Gilroy-Light, sans-serif;
    }

    &__item-4::before {
      content: "04";
      margin-right: 10px;
      font-family: Gilroy-Light, sans-serif;
    }
  }

  &__line-short {
    border-bottom: 1px solid $whatIdo-line-color;
    padding-bottom: 30px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding-bottom: 40px;
    }
  }
}
